html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  padding: 2rem;
  background-color: lightblue;
}
main {
  padding: 16px;
}
.box {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: lightcoral;
  text-align: center;
  box-sizing: border-box;
}

/*  */

 @media (min-width: 768px) {
main {
display: flex;
flex-wrap: wrap;
gap: 1rem;
} 
.box {
    
}

/ 데스크톱: 1024px 이상 */
@media screen and (min-width: 1024px) {
  .box {
    width: calc(33.33% - 0.7rem);
  }
}
